@media (pointer: coarse) {
  html, navigation, container {
    scrollbar-width: none;
  }
}
:root {
  color-scheme: light dark;
  --white: white;
  /* navigation, button, h4, border */
  --gray-1: rgb(205, 205, 205);
  --gray-2: rgb(30, 30, 30);
  /* thead */
  --gray-3: rgb(210, 210, 210);
  --gray-4: rgb(40, 40, 40);
  /* tbody */
  --gray-5: rgb(215, 215, 215);
  --gray-6: rgb(50, 50, 50);
  /* ... */ 
  --black: black;
  --blue: blue;
  --aqua: aqua;
  --white-black: light-dark(var(--white), var(--black));
  --gray-1-2: light-dark(var(--gray-1), var(--gray-2)); /* navigation, button, h4, border */
  --gray-3-4: light-dark(var(--gray-3), var(--gray-4)); /* thead */
  --gray-5-6: light-dark(var(--gray-5), var(--gray-6)); /* tbody */
  /* ... */
  --black-white: light-dark(var(--black), var(--white));
  --blue-aqua: light-dark(var(--blue), var(--aqua));
}
html {
  scrollbar-color: var(--white-black) var(--black-white);
}
body {
  background: var(--white-black);
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
body::selection {
  background: var(--black-white);
  color: var(--white-black);
}
navigation {
  background: var(--gray-1-2);
  display: block;
  font-weight: bold;
  overflow: auto;
  padding: 8px;
  position: sticky;
  scrollbar-color: var(--black-white) var(--gray-1-2);
  text-align: center;
  top: 0;
  white-space: nowrap;
}
a {
  text-decoration: none;
}
.link {
  color: var(--blue-aqua);
}
main {
  display: grid;
  gap: 8px;
  padding: 8px;
}
h4 {
  background: var(--gray-1-2);
  padding: 8px;
  margin: 0;
  text-align: center;
}
.button {
  background: var(--gray-1-2);
  color: var(--black-white);
  padding: 8px;
  text-align: center;
  user-select: none;
}
container {
  border-left: var(--gray-1-2) solid 2px;
  border-right: var(--gray-1-2) solid 2px;
  overflow: auto;
  scrollbar-color: var(--black-white) var(--gray-1-2);
}
table {
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
}
thead {
  background-color: var(--gray-3-4);
}
th {
  border: var(--gray-1-2) solid 2px;
  padding: 8px;
}
th:first-child {
  border-left-width: 0;
}
th:last-child {
  border-right-width: 0;
}
tbody {
  background-color: var(--gray-5-6);
}
td {
  border: var(--gray-1-2) solid 2px;
  padding: 8px;
  text-align: center;
}
td:first-child {
  border-left-width: 0;
}
td:last-child {
  border-right-width: 0;
}
hr {
  border: var(--gray-1-2) dashed 1px;
}