html::-webkit-scrollbar {
  display: none;
}
html, body {
  height: 100%;
}
body, h1, h2 {
  margin: 0px;
}
body {
  background-image: url(../Image/Pattern.png);

  font-family: Arial;
  color: white;
}
.rgba-black, header, nav, footer, .center {
  display: flex;
}
.rgba-black, .center {
  flex-direction: column;
}
.rgba-black {
  background-color: rgba(0, 0, 0, 0.85);

  min-height: 100%;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
header, .logo, nav, footer, .week {
  height: 48px;
}
header, .button, nav, footer, .week {
  padding: 24px;
}
body, header, footer, nav, thead, tfoot, .week {
  background-color: black;
}
header, .center {
  justify-content: center;
}
header, .center, nav, footer {
  align-items: center;
}
header, nav, .week {
  border-bottom: 5px solid white;
}
nav, .button, table, .link, .week {
  font-weight: bold;
}
main {
  flex-grow: 1;
  grid-gap: 48px;
  padding: 48px;
}
h1 {
  font-size: 96px;
}
h1::selection, nav div::selection, .link::selection,
h2::selection, br::selection, .week::selection,
.week span::selection, footer div::selection {
  background-color: #03fa6e;
  color: black;
}
td::selection {
  background-color: white;
  color: black;
}
.button, nav, table, footer, .week, h2 {
  font-size: 48px;
}
.button {
  box-sizing: border-box;

  border: 5px solid #03fa6e;
  background-color: #03fa6e;
  color: black;

  user-select: none;

  width: 100%;
}
footer {
  border-top: 5px solid white;
}
.link, tfoot {
  color: #03fa6e;
}
table, .button {
  text-align: center;
}
table {
  border-collapse: collapse;

  text-align: center;
}
td {
  border: 5px solid white;

  padding: 24px;
  height: 65px;
  width: 65px;
}
.rgba-green, .button:hover {
  background-color: rgba(3, 250, 110, 0.7);
}
.rgba-green {
  color: black;
}
nav {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
nav::-webkit-scrollbar {
  display: none;
}
