html {
  height: 100%;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  min-height: 100%;
  margin: 0px;
  font-family: Arial;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  height: 48px;
  padding: 24px;
  background-color: black;
  align-items: center;
  border-bottom: 5px solid white;
  font-weight: bold;
  font-size: 48px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
nav::-webkit-scrollbar {
  display: none;
}
nav div::selection {
  background-color: #00ffff;
  color: black;
}
main {
  flex-grow: 1;
  grid-gap: 48px;
  padding: 48px;
  background-color: black;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0px;
  font-size: 96px;
}
h1::selection {
  background-color: #00ffff;
  color: black;
}
h2 {
  margin: 0px;
  font-size: 48px;
}
h2::selection {
  background-color: #00ffff;
  color: black;
}
h2 span::selection {
  background-color: #00ffff;
  color: black;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.button {
  padding: 24px;
  font-weight: bold;
  font-size: 48px;
  box-sizing: border-box;
  border: 5px solid #00ffff;
  background-color: black;
  color: #00ffff;
  user-select: none;
  width: 100%;
  text-align: center;
}
.button:hover {
  border: 5px solid #00ffff;
  background-color: #00ffff;
  color: black;
}
.link {
  font-weight: bold;
  color: #00ffff;
}
.link::selection {
  background-color: #00ffff;
  color: black;
}
br::selection {
  background-color: #00ffff;
  color: black;
}
table {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  border-collapse: collapse;
  background-color: black;
}
td {
  border: 5px solid white;
  padding: 24px;
}
td::selection {
  background-color: #00ffff;
  color: black;
}
.td-white {
  background-color: white;
  color: black;
}
.td-white::selection {
  background-color: black;
  color: white;
}
.td-calendar {
  width: 55px;
}
.week {
  height: 48px;
  padding: 24px;
  background-color: black;
  border-bottom: 5px solid white;
  font-weight: bold;
  font-size: 48px;
}
.week::selection {
  background-color: #00ffff;
  color: black;
}
.week span::selection {
  background-color: #00ffff;
  color: black;
}